* {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:  'Josefin Sans', sans-serif;;
}

:root {
  --dark: black;
  --light: #71A9F7;
  --accent: #072AC8;
  --white: #fff;
}

/* NAVBAR STYLING */

/* .navbar-nav > li > a.active. .navbar-nav > li > a:focus {
  border-bottom-color: var(--accent);
  border-bottom: 3px solid;
} */

/* HEADER STYLING */

#lead {
  font-size: 1.125rem
}

/* FOOTER STYLING */

#footer {
  background-color: var(--accent);
  color: var(--white)
}
